{% extends 'base.html'%}
{% load static %}
{% block title %}AIEN06-TEAM 4{% endblock %}

{% block content %}

<form action="/selected/" method="get">

    <div class="form-group">
        <!-- <label for="typename">Class name</label>
                <input type="text" name="searchname" class="form-control" id="typename">
        </div> -->
        <!-- <div class="form-group">
                <label for="numbersinput">Numbers</label>
                <input type="text" name="nums" class="form-control" id="numbersinput"> -->
        <label for="typename">語意分析用</label>
        <input type="text" name="luis" class="form-control" id="luis">
    </div>
    <button type="submit" class="btn btn-primary nt-3">Submit</button>


</form>

{% for data in datas%}

<div class="ml-3" style="float: left; z-index: auto;">
    <a href="{% static data.image_path %}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img id="gla" src="{% static data.image_path %}" style="max-width: 200px" alt="">
    </a>
</div>

{% endfor %}


{% endblock%}